.list {
    margin-top: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  
  .list h3 {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 5px;}
  
  .list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list ul li span {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .list ul li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; 
      padding: 5px 10px;
      margin-bottom: 5px;
      border-radius: 5px;
      font-size: 1.1rem;
      color: black;
      text-align: center;
      align-items: center;
      /* justify-content: center; */
      margin-block: 3%;
      margin-inline: 3%;
      /* /* position: relative;  */
  }
  
  /* .list ul li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: black;
    text-align: center;
    margin-block: 3%;
    margin-inline: 3%;

} */

.list ul li.income {
  /* font-size: 1.5rem; */
   background-color: #8cbd75;
}

.list ul li.expense {
    background-color:  #f17884; 
}

.list ul li.income .delete-button i:hover {
 color: #dc3545;
}

.list ul li.expense .delete-button i:hover {
    color:  #359409;
}

.delete-button {
  border-top-right-radius: 5px;
  background: inherit;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 6px;
  border-top-right-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  opacity: 0;
  /* transform: translateX(-50%); */
  position:inherit ;
  left: 8.5%;
  /* top: 51.1%; */
  border-bottom-right-radius: 5px;
}
    
/* .delete-button {
  background: transparent;
  border: none;
  color: #dc3545; 
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 10px; 
  border-radius: 5px; 
  transition: background-color 0.2s, color 0.2s; 
} */
.list ul li:hover .delete-button {
  opacity: 1;
  /* color: red; */

  /* background-color: #f8d7da; 
  color: #721c24;  */
}

.delete-container {
  display: flex;
  align-items: center; 
  margin-left: 10px;
}
