@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  max-height: 100vh;  
  font-family: sans-serif;
  background-color: #f0f0f0;  
  display: flex;
  justify-content: center; 
  /* width: fit-content; */

} 
/* page.module.css */

.body {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items at the top */
  padding: 3%; /* Add padding */
  background-color: #f0f0f0; /* Light background color */
  min-height: 100vh; /* Full height */
  min-width: 100vw;
}

.mainbox {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  width: 100%; /* Full width */
  max-width: 800px; /* Max width for larger screens */
  margin: auto; /* Center the box */
  padding: 3%; /* Padding around the content */
  background-color: #ffffff; /* White background for the main box */
  border-radius: 10px; /* Rounded corners */
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

@media (min-width: 600px) {
  .mainbox {
    flex-direction: column; /* Change to row layout on larger screens */
    justify-content: space-between; /* Space out children */
  }
}
